/*******************************************************************************
Site Name: One Technology
Author: Felipe Rodopoulos

Stylesheet: Desktop Stylsheet
*******************************************************************************/




/*******************************************************************************
  #LOGO
*******************************************************************************/
.the_logo {
  height: $logo-height-lg;

  &.is-small{ height: $logo-active-height-lg; }
}




/*******************************************************************************
  #SECTION
*******************************************************************************/
.s {
  padding: $section-pad-lg;
}





/*******************************************************************************
	#BUTTON
*******************************************************************************/
.btn {
  transition: $transition-fast;

	&:hover, &:focus {
    text-decoration: none;
    background: $button-bg-clr-hover;
    color: $button-txt-clr-hover;
  }

  &:active {
    color: $button-txt-clr-active;
  }
}





/*******************************************************************************
	#NAV
*******************************************************************************/
.the_nav {
  a:hover,{ color: $yellow; }
}




/*******************************************************************************
	#FOOTER
*******************************************************************************/
/* Social Icons */
.seo__li{}

.seo__link{
	&:hover, &:focus, &:active {
    color: $light-yellow;
		text-decoration: none;
	}
}



/******************************************************************************
 	#POST/PAGE
*******************************************************************************/
.p {
	margin: 80px auto 30px;
	padding: 0;
  max-width: 942px;
}
