/*******************************************************************************
Site Name: feliperodopoulos.com
Author: Felipe Rodopoulos

Stylesheet: Tablet & Small Desktop Stylesheet
*******************************************************************************/


.the_box {
  position : relative;

  &:after {
    content : "";
		top: 5px; left: 8px;
    background : $white;
    border : 3px solid $black;
    width : 100%;
    height : 100%;
    position : absolute;
    z-index : -1;
  }
}


.info {
  a {
    width : 49%;
  }
}
