/*******************************************************************************
Site Name: feliperodopoulos.com
Author: Felipe Rodopoulos
Stylesheet: Mobile phones and small tablets
*******************************************************************************/

html, body{
	height: 100%;
}


body {
	overflow-x: hidden;
	background: $gray;
}


/******************************************************************************
	#BASE TAGS
******************************************************************************/
// Links
a, a:visited {
	cursor: pointer;
	color: $black;

	&:hover, &:focus { }
	&:active { }
	&:link { -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );	}
}

// Headers
h1, h2, h3, h4, h5 {
	text-rendering: optimizelegibility;
}


/******************************************************************************
	#HOLY GRAIL
******************************************************************************/
body{
	display: flex;
	flex-direction: column;
}

header { flex: 0 0 auto; }
main { flex: 1 0 auto; }





/******************************************************************************
	#PAGE
******************************************************************************/
header {
	width: 100%;
	background: $blue;
	color: $white;
	text-align: center;
	max-height: 60px;
	overflow: hidden;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;

	background: #f3f4f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f3f4f4 85%, #2a35f4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f3f4f4 85%,#2a35f4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f3f4f4 85%,#2a35f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f4f4', endColorstr='#2a35f4',GradientType=0 ); /* IE6-9 */

}

.the_box {
	max-width: 500px;
	padding: 26px 23px;
	border: 6px solid $black;
	background: $white;
	margin-bottom: 5%;
}

.info {
	a {
		display: inline-block;
		width: 50%;
	}
}

.tiny {
	font-size: 75%;
	text-align: center;
}
