/******************************************************************
Site Name: One Technology
Author: Felipe Rodopoulos

Stylesheet: Variables
******************************************************************/

// --------------------------------- COLORS -----------------------------------

$blue:  #2A35F4
$black: #000;
$gray:  #F3F4F4;
$white: #fff;
